<div class="media-heading">
  <%= link_to notification.actor.first_name, main_app.u_path(notification.actor) %>
  <%= link_to t('.user_commented'), main_app.post_path(notification.target.post) %>
</div>