<h3>مرحبا بك فى حسوب I/O!</h3>
<% if user_signed_in? %>
<p>مرحبا بك <%= current_user&.email %></p>
<%= link_to 'تسجل الخروج', destroy_user_session_path, method: :delete %>
<% else %>
<%= link_to 'تسجل الدخول', new_user_session_path %>
<% end %>