/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(//fonts.googleapis.com/earlyaccess/notonaskharabic.css);

body {
    direction: rtl;
    font-family: "Noto Naskh Arabic", verdana, Times, serif;
    font-size: 16px;
    line-height: 1.42857;
    color: #484848;
    background-color: #f2f2f2;
}

h1{
    margin-bottom: 20px;
}

.hsoub-header {
    background-color: #dd4814;
}

.navbar {
    margin-bottom: 0px;
    padding-right: 10px;
}

.hsoub-box {
    position: relative;
    max-width: 1170px;
    padding: 0;
    margin: 0 auto;
}

.hsoub-logo-img {
    max-height: 36px;
    border: 0;
}

.hsoub-menu-item {
    position: relative;
    display: table-cell;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.hsoub-menu-item-link {
    padding: 10px 9px;
    margin: 9px 0 9px 18px;
    border: solid 1px rgba(239,239,239,0.5);
    line-height: 1.4285714;
    color: #efefef;
    display: block;
    font-size: 14px;
}

.glyphicon-user:before, .glyphicon-log-in:before {
    float: right;
    margin-left: 5px;
}

.plus-link {
    font-size: 18px;
    color: #efefef;
    padding-top: 21px !important;
    padding-bottom: 21px !important;
}

.post_vote, .comment .rateColumn {
    position: relative;
    float: right;
    width: 8.33333%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    padding-right: 0px;
    padding-left: 0px;
}

#footer {
    padding: 50px 10px 20px 10px;
}

.footer-content {
    overflow: hidden;
    max-width: 100%;
    margin: 0 auto;
    direction: rtl;
}

.hsoub-logo {
    max-width: 160px;
    margin: 0 auto;
}

.hsoub-menu-item-link-img {
    width: 36px;
    height: 36px;
}

.dropdown-menu {
    text-align: right
}

.dropdown-toggle:hover, .hsoub-menu-item-link:hover, .dropdown-toggle:focus ,.hsoub-menu-item-link:focus {
    background-color: #f37021 !important;
    color: #eee;
}

.dropdown-divider {
    height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
}

a {
    color: #39c;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.ltr {
    direction: ltr;
}

.pull-right {
    float: right !important;
}

.contentWindow {
    width: 100%;
    height: 100%;
    min-height: 60vh
}

.container, .container-fluid {
    direction: rtl;
    max-width: 1170px;
    padding: 32px 18px;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.container-box {
    margin-right: -15px;
    margin-left: -15px;
}


.footer-brands {
    text-align: center;
    margin-top: 25px;
}

.hsoub-logo img {
    width: 100%;
}

.brand-item {
    display: inline-block;
    width: 100px;
    height: 80px;
    text-align: center;
    padding: 6px;
    margin-bottom: 6px;
}

.brand-item a.url {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: #313335;
    font: 400 13px tahoma;
    width: 100%;
}

.brand-hsoub, .brand-khamsat, .brand-mostaql, .brand-academy, .brand-io, .brand-suar, .brand-wiki {
    height: 48px;
    width: 48px;
    margin: 0 auto;
    display: block;
    background-size: cover;
    background-image: url(brands-colors.svg);
    outline: none;
}

.brand-mostaql {
    background-position: left -125px;
}

.brand-khamsat {
    background-position: left -249px;
}

.brand-hsoub {
    background-position: left top;
}

.brand-academy {
    background-position: left -499px;
}

.brand-wiki {
    background-position: left bottom;
}

.brand-io {
    background-position: left -374px;
}

.brand-suar {
    background-position: left -623px;
}

.notice {
    margin-top: 20px;
    margin-bottom: 0px !important;
    text-align: center;
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}

textarea {
    min-height: 120px;
    width: 100%;
    background-color: #fff;
    word-wrap: break-word;
    border: 1px solid #e4e4e4;
    outline: none;
    padding: 6px 12px;
    white-space: pre-wrap;
    resize: vertical;
    overflow: auto;
}

.no-padding {
    padding: 0px !important;
}

.pull-right {
    float: right !important;
}

.badge-notify {
    background: black;
    position: absolute;
    top: -10px;
    right: -16px;
}

#menu-toggle {
    font-size: 25px;
    line-height: 42px;
    color: white;
}

h1 span {
    color: #dd4814
}

.about-logo {
    margin: 0 auto;
    padding: 20px 0 !important;
    max-width: 200px;
}

.about-logo img {
    width: 100%;
}

.about-paragraph {
    margin: 20px;
}

.static-page-container {
    background-color: #fff;
    margin-top: 10px;
    padding: 15px;
}

.notToDo, .toDo {
    position: relative;
    float: right;
    width: 50%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.toDo .fa-check {
    color: #390;
}

.notToDo .fa-times {
    color: #c00;
}

.notToDo .fas, .toDo .fas {
    font-size: 20px;
    margin-left: 10px;
    width: 20px;
    text-align: center;
    vertical-align: top;
    margin-top: 7.5px;
}

.notToDo h2, .toDo h2 {
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 2;
}

